html {
    height: 100%;
}

body {
    
    color: #36454F; /* Charcoal Black */
    font-family: 'Babylonica';
     
}

h4, h5, h6 {
    font-size: 20px; 
    color: #1F2A30; 
    margin: 10px 0; 
}

p {
    font-size: 18px; 
    color: #36454F; 
    line-height: 1.6; 
    
}
/* CSS for Navigation Links */
.nav-link {
    text-transform: uppercase; 
    font-size: 1.2rem; 
    color: #36454F; 

}

.nav-link:hover {
   color:color: #6B7C8A; 
}

/* Header Section */
.header-section {
    position: relative;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Collection Section */

.collection-section {
    padding: 50px 0;
    background-color: white;
}



.logo-font {
    text-transform: uppercase;
    color: #36454F; 
    margin-bottom: 1rem; 
    
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background:#36454F; 
    color: white;
    min-width: 240px;
    border-radius: 25px;
   
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background:  #6B7C8A;
    color: white;
}



/* Image Styles */
.row img {
    max-width: 100%; 
    border-radius: 10px; 
    transition: transform 0.3s ease; 
}

.row img:hover {
    transform: scale(1.05); 
}

/* Text and Button Styles */


.row p {
    font-size: 1.25rem; 
    color: #36454F; 
    margin-bottom: 1.5rem; 
}

.btn.btn-black {
    background-color: #36454F; 
    color: #fff; 
    border: none; 
    border-radius: 25px; 
    padding: 10px 20px; 
    transition: background-color 0.3s ease; 
}

.btn.btn-black:hover {
    background-color: #6B7C8A;
}


/* Overall Section Background Color for Pearls */
.pearl-bg-wrapper {
    background-color: #f9f8f4; 
    padding: 20px 0; 
}

/* Container for the pearl background */
.pearl-bg {
    max-width: 1500px; 
    margin: 0 auto;
    padding: 0px; 
    border-radius: 8px; 
}

/* Increase the size of images in the grid */
.row .col-md-3 {
    padding: 0 10px; 
}

.image-hover {
    position: relative;
    overflow: hidden; 
    border-radius: 8px; 
}

.default-img {
    width: 100%; 
    height: auto; 
    max-height: 250px; 
    object-fit: cover; 
    transition: transform 0.3s ease; 
}

.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.image-hover:hover .default-img {
    transform: scale(1.1); 
}

.image-hover:hover .hover-img {
    opacity: 1; 
}

/* Optional: Adjust h4 for better visibility */
.category-description {
    font-size: 0.9rem; 
    margin-top: 5px; 
}
.category-title {
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
    color: #36454F;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7); 
    text-transform: uppercase; 
}

.category-link {
    text-decoration: none; 
    color: #36454F; 
    display: inline-block; 
    position: relative; 
    padding: 5px; 
}

/* Hover effect for desktop */
.category-link:hover {
    text-decoration: none; 
    color: #333; 
}

/* Focus effect for mobile and accessibility */
.category-link:focus {
    color: #333;
}

/* Optional: Additional visual feedback for mobile */
.category-link:focus::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px; 
    height: 2px; 
    background-color: #36454F; 
    transition: height 0.3s; 
}

.category-link::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px; 
    height: 0; 
    background-color: #36454F; 
    transition: height 0.3s; 
}

.category-link:hover::after,
.category-link:focus::after {
    height: 2px; 
}



.bg-black {
    background: #EAEAEA;
}
.service-grid {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    margin: 50px 0; 
}

.services-title {
    font-size: 28px; 
    color: #333333; 
    text-align: center; 
    margin-bottom: 20px; 
}

.service-items-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 40px;
}

.service-item {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center; 
    max-width: 200px; 
}

.service-icon {
    font-size: 50px; 
    color: #C8B68B; 
    margin-bottom: 15px; 
}


/* Footer */
.footer-section {
    padding: 40px 0;
    color: #36454F; 
}

.footer-title {
    font-size:20px;
    margin-bottom:20px;
    color:#36454F; 
}

.footer-subscribe-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
}

.footer-subscribe-form button {
    width: 100%;
    padding: 10px;
    border: none;
    color: #36454F;
    border-radius: 10px;
}

/* Quiq links */

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color:#36454F;  
    text-decoration: none;
    font-size: 18px;
}


/* Social media links */

.footer-social {
    list-style: none;
    padding: 0;
    display: flex;
}

.footer-social li {
    margin-right: 15px;
}

.footer-social a {
    color: #36454F; 
    font-size: 25px;
    text-decoration: none;
}

.footer-social a:hover {
    color: #6B7C8A;
}



/* Responsive adjustments */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}
@media (max-width: 768px) {
    .service-grid {
        flex-direction: column; 
    }

    .service-item {
        flex: 1; 
        width: 100%; 
    }
}

