<!-- main-nav.html -->
<nav class="navbar-expand navbar-light">
    <div class="collapse navbar-collapse" id="main-nav">
        <ul class="navbar-nav w-auto mx-auto">
<!-- All Products Link -->
        <li class="nav-item">
            <a class="nav-link mr-5" href="{% url 'products' %}">
                All Products
            </a>
        </li>    
            <!-- Shop Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link mr-5" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Shop
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                    <h6 class="dropdown-header">Shop by Jewelry Type</h6>
                    <a href="" class="dropdown-item">Necklace</a>
                    <a href="" class="dropdown-item">Earrings</a>
                    <a href="" class="dropdown-item">Bracelet</a>
                    <a href="" class="dropdown-item">Ring</a>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Shop by Color</h6>
                    <a href="" class="dropdown-item">White Pearls</a>
                    <a href="" class="dropdown-item">Black Pearls</a>
                    <a href="" class="dropdown-item">Pink Pearls</a>
                    <a href="" class="dropdown-item">Golden Pearls</a>
                </div>
            </li>

            <!-- Trending Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link mr-5" href="#" id="trending-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Trending
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="trending-link">
                    <a href="" class="dropdown-item">Best Sellers</a>
                    <a href="" class="dropdown-item">New Arrivals</a>
                </div>
            </li>

            <!-- About Link -->
            <li class="nav-item">
                <a class="nav-link mr-5" href="">
                    About
                </a>
            </li>

            <!-- Contact Link -->
            <li class="nav-item">
                <a class="nav-link" href="">
                    Contact
                </a>
            </li>
        </ul>
    </div>
</nav>
